<div class="h-10">
    <div class="w-full p-6 m-auto bg-gray-200 rounded-md shadow-md lg:max-w-xl">
        <h1 class="text-3xl font-semibold text-center text-grey-500">
           Admin Login
        </h1>
        <p *ngIf="!loginValid">
            The Username or Password did not match
        </p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="mb-2">
                <label 
                    for="email"
                    class="block text-sm font-semibold text-gray-800"
                >
                    Email
                </label>
                <input
                    type="email"
                    class="block w-full px-4 py-2 mt-2 text-grey-500 bg-white border rounded-md focus:border-grey-400 focus:ring-grey-300 focus:outline-none focus:ring focus:ring-opacity-40"
                    formControlName="email"
                />
                <small class="block mt-1 text-gray-700" 
    *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">
      Please enter an email address....
  </small>

  <small class="block mt-1 text-gray-700"
  *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">
    Invalid Email address
  </small>
            </div>
            <div class="mb-2">
                <label
                    for="password"
                    class="block text-sm font-semibold text-gray-800"
                >
                    Password
                </label>
                <input
                    type="password"
                    class="block w-full px-4 py-2 mt-2 text-purple-700 bg-white border rounded-md focus:border-purple-400 focus:ring-purple-300 focus:outline-none focus:ring focus:ring-opacity-40"
                    formControlName="password" 
                />
            </div>
            <a
                href="#"
                class="text-xs text-grey-600 hover:underline"
            >
                Reset Password?
            </a>
            <div class="mt-6">
                <button type="submit" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-blue-600 text-white hover:bg-blue-600" [disabled]="!loginForm.valid">Submit</button>
            </div>
        </form>
    </div>
</div>