<nav class="relative flex flex-wrap items-center justify-between bg-black mb-3">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
        <a routerLink="/" class="text-sm font-bold leading-relaxed flex flex-row justify-center align-middle mr-4 py-2 whitespace-nowrap uppercase text-yellow-300">
          <app-logo className="w-20 h-20"></app-logo> <div class="text-yellow-300 align-middle self-center font-montserrat-alternates text-xl">TERASEARCH</div>
        </a>
        <button class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" (click)="toggleNavbar()">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div class="lg:flex flex-grow items-center" [ngClass]="{'flex': navbarOpen, 'hidden': !navbarOpen}" id="example-navbar-danger">
        <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
          <li class="nav-item">
            <a routerLink="/" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">Jobs</a>
          </li>
          <li class="nav-item">
            <a routerLink="/jobs-applied" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">Jobs Applied</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">Login</a>
          </li>
          <li>
            <a routerLink="/AccountDetails" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">Account</a>
          </li>
          <li>
            <a routerLink="/admin-login" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>